#footer {
  background-color: rgb(61, 57, 53)!important;
  color: white;
  z-index: 50;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.7em;
}

@media (min-width: 768px) {
  #footer {
    font-size: 0.8em;
  }
}

#top_nav_holder {
  z-index: 50;
  width: 100%;
  background-color: rgb(61, 57, 53)!important;
}

.bg-gradient-primary {
  background-color: rgb(59,85,230);
  background-image: linear-gradient(180deg,rgb(59,85,230) 0%,rgb(61, 57, 53) 90%);
  background-size: cover;
  z-index: 50;
}

.span_white {
  color: white!important;
}

#logo_00 {
  max-height: 3em;
}

@media (min-width: 768px) {
  #logo_00 {
    max-height: 6em;
  }
}

#brand_holder {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 768px) {
  #brand_holder {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

#hr_holder {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sidebar-divider.my-0.horizontal_hr {
  border-top: 0.15vh solid rgba(255,255,255,0.8);
}

.nav-item.clickable {
  cursor: pointer;
}

.nav-item.clickable:hover {
  background-color: rgba(255,255,255,0.1);
}

.nav-item.active, .nav-item.active:hover {
  background-color: rgba(255,255,255,0.25);
}

#logon_holder {
  width: 100%;
  font-size: .65rem;
  font-weight: 700;
  color: hsla(0,0%,100%,1);
}

@media (min-width: 768px) {
  #logon_holder {
    font-size: .85rem;
  }
}

.span_col {
  width: 100%;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.nav_link_icon_holder {
  float: left;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .nav_link_icon_holder {
    width: 16%;
  }
}

.nav_link_text_holder {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .nav_link_text_holder {
    float: left;
    width: auto;
    padding-bottom: 1rem;
  }
}

#logon_name {
  float: left;
}

.nav_link_dropdown_holder {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .nav_link_dropdown_holder {
    width: auto;
    text-align: right;
  }
}

#div_nav_bottom_section {
  width: 100%;
}

.sidebar {
  position: fixed;
  width: 7rem!important;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  opacity: 1;
  transition: width 0.5s, opacity 0.2s;
}

.sidebar.hide {
  width: 0!important;
}

.sidebar.fadeOut {
  opacity: 0!important;
}

@media (min-width: 768px) {
  .sidebar {
    width: 18rem!important;
  }
}

.nav-item {
  width: 100%;
}

.sidebar-dark .nav-item .nav-link.active, .sidebar-dark .nav-item .nav-link.active i, .sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover, .sidebar-dark .nav-item .nav-link:hover i {
  width: 100%;
}

.right_side.expand {
  width: 100%;
}

#info_holder {
  position: absolute;
  top: 0;
  right: 0;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 4.375rem;
}

#wrapper #content-wrapper {
  padding-top: 4.375rem;
}

#container {
  position: relative;
  z-index: 30;
  padding-top: 1.5em;
  padding-left: 0;
  padding-right: 0;
}

.panel_box {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.content_box {
  position: relative;
  padding-bottom: 3em;
}

#panel_contactUs {
  display: none;
}

#panel_results {
  display: none;
}

#panel_profile {
  display: none;
}

.border {
  border: 0.2vh solid #e3e6f0!important;
}

.myCollapse-item {
  font-size: 0.65em;
  color: #3a3b45;
  word-break: break-word;
  font-weight: 700;
  float: left;
  width: 100%;
  padding-bottom: 1.5em;
}

@media (min-width: 768px) {
  .myCollapse-item {
    font-size: .9em;
  }
}

.forms_code {
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffcc00;
  border-radius: 0.3vh;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

@media (min-width: 768px) {
  .forms_code {
    width: 20%;
  }
}

.forms_name {
  float: right;
  width: 65%;
  height: 100%;
  padding-left: 0.3em;
  clear: both;
  width: 100%;
}

@media (min-width: 768px) {
  .forms_name {
    width: 80%;
    clear: right;
  }
}

.row_holder:hover {
  background-color: rgba(61,57,53,0.1);
  cursor: pointer;
}

.row_holder {
  float: left;
  width: 100%;
  border-radius: 0.5vh;
}

@media (min-width: 768px) {
  .underCon {
    max-width: 70%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.underCon {
  max-width: 90%;
  padding-top: 20%;
  padding-bottom: 20%;
}

#loading_page.hide {
  opacity: 0;
}

#loading_page {
  z-index: 99999;
  background-color: rgba(61, 57, 53, 0.4);
  background-color: rgb(61, 57, 53);
  opacity: 1;
  transition: opacity 0.3s;
  /*display: none;*/
}

.page_fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.page_whole {
  width: 100%;
  height: 100%;
}

#initial_loader {
  /*display: block;*/
}

.loader_00 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;
  display: none;
}

.nav-item.clickable.disabled {
  cursor: default;
  background-color: rgba(61,57,53,0.7);
  opacity: 0.5;
}

#icon_right {
  display: block;
}

#icon_down {
  display: none;
}

#panel_forms {
  display: none;
}

#collapseForms {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  background-color: white;
  cursor: initial;
  display: none;
}

#collapseForms.visible {
  max-height: calc(100vh + 500px);
}

#collapsed_header {
  color: rgb(209, 55, 44);
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.7em;
  font-size: 0.75em;
  width: 100%;
}

@media (min-width: 768px) {
  #collapsed_header {
    font-size: 1em;
    font-weight: 700;
  }
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
  text-align: left;
  background-color: rgb(61, 57, 53);
  color: rgb(61, 57, 53);
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 100%;
  overflow-y: auto;
}

#right_side_full_name {
  font-weight: 500;
  padding-right: 1em;
}

.text-gray-400 {
  color: rgb(61, 57, 53)!important;
}

.right_side {
  width: calc(100% - 7rem);
  transition: width 0.5s;
}

@media (min-width: 768px) {
  .right_side {
    width: calc(100% - 18rem);
  }
}

.topbar #sidebarToggleTop:hover {
  background-color: transparent;
}

.topbar #sidebarToggleTop:active {
  background-color: #dddfeb;
}

.topbar #sidebarToggleTop {
  outline: none;
}

@media (min-width: 576px) {
  .d-lg-inline {
    display: inline!important;
  }
}

