#side-menu, .side-menu-overlay {
  position: fixed;
  top: 0;
  height: 100%;
  display: none;
}

body.overflow-hidden {
  overflow: hidden;
}

#side-menu {
  width: 70vw;
  right: -300px;
  overflow-y: auto;
  z-index: 1035;
  background: #fff;
  padding: 20px 30px;
  padding-left: 0;
  color: #333;
  transition: 0.5s;
}

#side-menu.side-menu-visible {
  transform: translateX(-300px);
}

#side-menu .contents {
  margin-top: 15px;
}

#side-menu .nav-link {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0;
}

#side-menu .nav-link:hover {
  opacity: 0;
}

#side-menu .close {
  float: right;
  font-weight: 400;
}

.side-menu-overlay {
  left: 0;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

#side-menu.side-menu-left {
  right: auto;
  left: -300px;
}

body.side-menu-visible #side-menu.side-menu-left {
  transform: translateX(300px);
}

@media (min-width: 768px) {
  #side-menu {
    display: none;
  }
}

